In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
df= pickle.load(open('t20_dataset_2.pkl', 'rb'))

In [3]:
df

,match_id,batting_team,ball_of_match,runs,city,venue,player_of_dismissed,bowling_team
0,2,Australia,0.1,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
1,2,Australia,0.2,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
2,2,Australia,0.3,1,NaN,Melbourne Cricket Ground,0,Sri Lanka
3,2,Australia,0.4,2,NaN,Melbourne Cricket Ground,0,Sri Lanka
4,2,Australia,0.5,0,NaN,Melbourne Cricket Ground,0,Sri Lanka
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,R Premadasa Stadium,0,Australia
115321,964,Sri Lanka,19.4,0,Colombo,R Premadasa Stadium,0,Australia
115322,964,Sri Lanka,19.5,0,Colombo,R Premadasa Stadium,DM de Silva,Australia
115323,964,Sri Lanka,19.6,2,Colombo,R Premadasa Stadium,0,Australia
115324,964,Sri Lanka,19.7,1,Colombo,R Premadasa Stadium,0,Australia

In [4]:
df['city'].isnull().sum()

8045

In [5]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    1691
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Carrara Oval                                 64
Name: count, dtype: int64

In [6]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x : x[0]),df['city']) 
cities

array(['Melbourne', 'Melbourne', 'Melbourne', ..., 'Colombo', 'Colombo',
       'Colombo'], dtype=object)

In [7]:
df['venue'].str.split()

0         [Melbourne, Cricket, Ground]
1         [Melbourne, Cricket, Ground]
2         [Melbourne, Cricket, Ground]
3         [Melbourne, Cricket, Ground]
4         [Melbourne, Cricket, Ground]
                      ...
115320         [R, Premadasa, Stadium]
115321         [R, Premadasa, Stadium]
115322         [R, Premadasa, Stadium]
115323         [R, Premadasa, Stadium]
115324         [R, Premadasa, Stadium]
Name: venue, Length: 55627, dtype: object

In [8]:
df['city'] = cities
df['city'].isnull().sum()

0

In [9]:
df.drop(columns = ['venue'], inplace = True)
df

,match_id,batting_team,ball_of_match,runs,city,player_of_dismissed,bowling_team
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia

In [10]:
df.rename(columns ={'city' : 'venue'},inplace = True )

In [11]:
df

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia

In [12]:
new_venue = df['venue'].value_counts()[df['venue'].value_counts() > 600].index.tolist()
df = df[df['venue'].isin(new_venue)]

In [13]:
df

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka
...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia

In [14]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()
df

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\63314236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3
...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia,125
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia,125
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia,125
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia,127
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia,128

In [15]:
df['over'] = df['ball_of_match'].apply(lambda x: str(x).split('.')[0])
df['ball_no'] = df['ball_of_match'].apply(lambda x: str(x).split(".")[1])
df

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\3767373484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball_of_match'].apply(lambda x: str(x).split('.')[0])
C:\Users\parth\AppData\Local\Temp\ipykernel_20392\3767373484.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball_of_match'].apply(lambda x: str(x).split(".")[1])

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score,over,ball_no
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5
...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia,125,19,3
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia,125,19,4
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia,125,19,5
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia,127,19,6
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia,128,19,7

In [16]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\562775579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score,over,ball_no,balls_bowled
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1,1
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2,2
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3,3
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4,4
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia,125,19,3,117
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia,125,19,4,118
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia,125,19,5,119
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia,127,19,6,120
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia,128,19,7,121

In [17]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\2304996896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
C:\Users\parth\AppData\Local\Temp\ipykernel_20392\2304996896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1,1,119
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2,2,118
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3,3,117
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4,4,116
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,0,Australia,125,19,3,117,3
115321,964,Sri Lanka,19.4,0,Colombo,0,Australia,125,19,4,118,2
115322,964,Sri Lanka,19.5,0,Colombo,DM de Silva,Australia,125,19,5,119,1
115323,964,Sri Lanka,19.6,2,Colombo,0,Australia,127,19,6,120,0
115324,964,Sri Lanka,19.7,1,Colombo,0,Australia,128,19,7,121,0

In [18]:
df['player_of_dismissed'] = df['player_of_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_of_dismissed'] = df['player_of_dismissed'].astype('int')
df['player_of_dismissed'] = df.groupby('match_id')['player_of_dismissed'].cumsum()
df['wickets_left'] = 10 - df['player_of_dismissed']

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\803181786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_of_dismissed'] = df['player_of_dismissed'].apply(lambda x:0 if x=='0' else 1)
C:\Users\parth\AppData\Local\Temp\ipykernel_20392\803181786.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_of_dismissed'] = df['player_of_dismissed'].astype('int')
C:\Users\parth\AppData\Local\Temp\ipykernel_20392\803181786.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_of_dismissed'] = df.groupby('match_id')['player_of_dismissed'].cumsum()
C:\Users\parth\AppData\Local\Temp\ipykernel_20392\803181786.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_of_dismissed']

In [19]:
df

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1,1,119,10
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2,2,118,10
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3,3,117,10
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4,4,116,10
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,8,Australia,125,19,3,117,3,2
115321,964,Sri Lanka,19.4,0,Colombo,8,Australia,125,19,4,118,2,2
115322,964,Sri Lanka,19.5,0,Colombo,9,Australia,125,19,5,119,1,1
115323,964,Sri Lanka,19.6,2,Colombo,9,Australia,127,19,6,120,0,1
115324,964,Sri Lanka,19.7,1,Colombo,9,Australia,128,19,7,121,0,1

In [20]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']
df

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\1226876470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1,1,119,10,0.000000
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2,2,118,10,0.000000
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3,3,117,10,2.000000
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4,4,116,10,4.500000
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,8,Australia,125,19,3,117,3,2,6.410256
115321,964,Sri Lanka,19.4,0,Colombo,8,Australia,125,19,4,118,2,2,6.355932
115322,964,Sri Lanka,19.5,0,Colombo,9,Australia,125,19,5,119,1,1,6.302521
115323,964,Sri Lanka,19.6,2,Colombo,9,Australia,127,19,6,120,0,1,6.350000
115324,964,Sri Lanka,19.7,1,Colombo,9,Australia,128,19,7,121,0,1,6.347107

In [21]:
df['match_id'].unique()

array([  2,   4,  12,  13,  15,  18,  23,  24,  25,  26,  27,  31,  33,
        34,  35,  36,  37,  52,  53,  56,  57,  65,  67,  68,  69,  70,
        71,  78,  79,  81,  84,  85,  87,  88,  89,  92,  97, 100, 120,
       130, 131, 132, 133, 134, 135, 138, 139, 147, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 193, 195, 196, 220, 221, 222, 224,
       230, 237, 238, 239, 242, 243, 244, 245, 246, 247, 250, 251, 304,
       305, 306, 307, 308, 309, 422, 423, 431, 432, 433, 434, 435, 440,
       442, 443, 445, 447, 449, 450, 451, 452, 453, 454, 455, 456, 457,
       464, 465, 466, 468, 470, 471, 472, 473, 475, 476, 477, 479, 480,
       481, 482, 484, 485, 486, 487, 488, 489, 490, 495, 497, 499, 500,
       501, 503, 504, 508, 511, 513, 515, 517, 519, 520, 521, 522, 523,
       525, 526, 528, 529, 530, 531, 532, 537, 538, 539, 540, 541, 542,
       543, 544, 546, 547, 548, 550, 551, 554, 557, 558, 562, 564, 565,
       566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578,
       580, 581, 584, 586, 587, 588, 589, 599, 600, 602, 603, 607, 608,
       609, 612, 613, 614, 615, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 629, 630, 631, 632, 635, 636, 639, 640, 641, 642, 646,
       649, 651, 652, 653, 656, 657, 658, 659, 660, 661, 662, 663, 664,
       665, 666, 667, 668, 669, 670, 671, 673, 676, 677, 690, 691, 692,
       695, 697, 699, 700, 701, 705, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 719, 734, 738, 739, 740, 741, 742, 746, 747, 748, 751,
       752, 765, 766, 770, 772, 785, 786, 788, 789, 790, 794, 795, 798,
       800, 802, 804, 805, 806, 807, 808, 809, 814, 815, 816, 820, 821,
       822, 823, 824, 825, 826, 827, 828, 829, 833, 834, 836, 837, 858,
       859, 860, 864, 865, 866, 867, 868, 872, 873, 874, 875, 876, 877,
       878, 879, 880, 892, 893, 894, 906, 907, 909, 911, 912, 913, 916,
       917, 919, 920, 922, 923, 924, 925, 926, 927, 928, 954, 957, 960,
       963, 964], dtype=int64)

In [22]:
groups = df.groupby('match_id')

last_five = []
match_id = df['match_id'].unique()
for id in match_id:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [23]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 63.0,
 63.0,
 63.0,
 58.0,
 55.0,
 60.0,
 65.0,
 61.0,
 67.0,
 72.0,
 72.0,
 68.0,
 69.0,
 67.0,
 68.0,
 72.0,
 68.0,
 68.0,
 67.0,
 68.0,
 72.0,
 76.0,
 77.0,
 74.0,
 71.0,
 75.0,
 73.0,
 70.0,
 69.0,
 70.0,
 68.0,
 68.0,
 74.0,
 79.0,
 79.0,
 79.0,
 79.0,
 85.0,
 80.0,
 76.0,
 76.0,
 76.0,
 76.0,
 77.0,
 76.0,
 71.0,
 71.0,
 73.0,
 74.0,
 79.0,
 76.0,
 71.0,
 69.0,
 68.0,
 73.0,
 67.0,
 64.0,
 64.0,
 70.0,
 70.0,
 67.0,
 67.0,
 61.0,
 55.0,
 55.0,
 53.0,
 47.0,
 42.0,
 41.0,
 39.0,
 40.0,
 41.0,
 46.0,
 45.0,
 46.0,
 46.0,
 48.0,
 46.0,
 49.0,
 44.0,
 43.0,
 43.0,
 43.0,
 44.0,
 38.0,
 39.0,
 39.0,
 44.0,
 39.0,
 38.0,
 38.0,
 43.0,
 44.0,
 45.0,
 44.0,
 40.0,
 41.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 50.0,
 50.0,
 50.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 46.0,
 45.0,
 43.0,
 42.0,
 38.0,
 39.0,
 34.0,
 35.0,
 33.0,
 37.0,
 37.0,
 38.0,
 42.0,
 40.0,
 37.0,
 33.0,
 32.0,
 33.0,
 31.0,
 28.0,
 25.0,
 26.0,
 25.0,
 26.0,
 26.0,
 25.0,
 25.0,
 26.0,
 26.0,
 29.0,
 29.0,
 35.0,
 36.0,
 37.0,
 37.0,
 37.0,
 36.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 32.0,
 28.0,
 28.0,
 29.0,
 29.0,
 29.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 33.0,
 33.0,
 34.0,
 35.0,
 33.0,
 33.0,
 29.0,
 30.0,
 24.0,
 24.0,
 23.0,
 24.0,
 27.0,
 28.0,
 30.0,
 31.0,
 27.0,
 31.0,
 36.0,
 35.0,
 35.0,
 34.0,
 33.0,
 33.0,
 32.0,
 33.0,
 33.0,
 34.0,
 33.0,
 33.0,
 33.0,
 34.0,
 33.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [24]:
df['last_five'] = last_five

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [25]:
df

,match_id,batting_team,ball_of_match,runs,venue,player_of_dismissed,bowling_team,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1,1,119,10,0.000000,NaN
1,2,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2,2,118,10,0.000000,NaN
2,2,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3,3,117,10,2.000000,NaN
3,2,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4,4,116,10,4.500000,NaN
4,2,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115320,964,Sri Lanka,19.3,1,Colombo,8,Australia,125,19,3,117,3,2,6.410256,32.0
115321,964,Sri Lanka,19.4,0,Colombo,8,Australia,125,19,4,118,2,2,6.355932,32.0
115322,964,Sri Lanka,19.5,0,Colombo,9,Australia,125,19,5,119,1,1,6.302521,32.0
115323,964,Sri Lanka,19.6,2,Colombo,9,Australia,127,19,6,120,0,1,6.350000,33.0
115324,964,Sri Lanka,19.7,1,Colombo,9,Australia,128,19,7,121,0,1,6.347107,32.0

In [26]:
final_df = df.groupby('match_id')['runs'].sum().reset_index().merge(df,on='match_id')

In [27]:
final_df

,match_id,runs_x,batting_team,ball_of_match,runs_y,venue,player_of_dismissed,bowling_team,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,168,Australia,0.1,0,Melbourne,0,Sri Lanka,0,0,1,1,119,10,0.000000,NaN
1,2,168,Australia,0.2,0,Melbourne,0,Sri Lanka,0,0,2,2,118,10,0.000000,NaN
2,2,168,Australia,0.3,1,Melbourne,0,Sri Lanka,1,0,3,3,117,10,2.000000,NaN
3,2,168,Australia,0.4,2,Melbourne,0,Sri Lanka,3,0,4,4,116,10,4.500000,NaN
4,2,168,Australia,0.5,0,Melbourne,0,Sri Lanka,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42903,964,128,Sri Lanka,19.3,1,Colombo,8,Australia,125,19,3,117,3,2,6.410256,32.0
42904,964,128,Sri Lanka,19.4,0,Colombo,8,Australia,125,19,4,118,2,2,6.355932,32.0
42905,964,128,Sri Lanka,19.5,0,Colombo,9,Australia,125,19,5,119,1,1,6.302521,32.0
42906,964,128,Sri Lanka,19.6,2,Colombo,9,Australia,127,19,6,120,0,1,6.350000,33.0
42907,964,128,Sri Lanka,19.7,1,Colombo,9,Australia,128,19,7,121,0,1,6.347107,32.0

In [28]:
final_df.rename(columns = {'runs_x': 'total_runs', 'runs_y':'runs'}, inplace = True)

In [29]:
final_df = final_df[['batting_team', 'bowling_team', 'venue', 'current_score', 'balls_left', 'wickets_left', 'crr', 'last_five', 'total_runs']]

In [30]:
final_df

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,crr,last_five,total_runs
0,Australia,Sri Lanka,Melbourne,0,119,10,0.000000,NaN,168
1,Australia,Sri Lanka,Melbourne,0,118,10,0.000000,NaN,168
2,Australia,Sri Lanka,Melbourne,1,117,10,2.000000,NaN,168
3,Australia,Sri Lanka,Melbourne,3,116,10,4.500000,NaN,168
4,Australia,Sri Lanka,Melbourne,3,115,10,3.600000,NaN,168
...,...,...,...,...,...,...,...,...,...
42903,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
42904,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
42905,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
42906,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
42907,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [31]:
final_df.isnull().sum()

batting_team         0
bowling_team         0
venue                0
current_score        0
balls_left           0
wickets_left         0
crr                  0
last_five        10197
total_runs           0
dtype: int64

In [32]:
final_df.dropna(inplace = True)

C:\Users\parth\AppData\Local\Temp\ipykernel_20392\1587496580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace = True)

In [33]:
final_df = final_df.sample(final_df.shape[0])

In [34]:
final_df

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,crr,last_five,total_runs
32695,South Africa,Australia,Durban,79,78,9,11.285714,73.0,80
23194,England,Pakistan,Dubai,44,74,9,5.739130,34.0,148
15229,England,New Zealand,Christchurch,90,53,6,8.059701,23.0,193
36899,South Africa,Australia,Melbourne,67,34,6,4.674419,18.0,101
30761,Pakistan,South Africa,Centurion,36,89,9,6.967742,36.0,195
...,...,...,...,...,...,...,...,...,...
23570,New Zealand,Sri Lanka,Lauderhill,51,65,7,5.563636,24.0,120
24087,Pakistan,New Zealand,Auckland,97,28,3,6.326087,25.0,143
5352,South Africa,Sri Lanka,Centurion,158,11,7,8.697248,41.0,180
7055,West Indies,India,Kolkata,56,45,4,4.480000,13.0,109
4985,South Africa,Pakistan,Johannesburg,184,0,7,9.200000,60.0,188

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x = final_df.drop(columns = 'total_runs')
y = final_df['total_runs']

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 1)

In [38]:
x_train.shape

(26168, 8)

In [39]:
x_test.shape

(6543, 8)

In [40]:
y_train.shape

(26168,)

In [93]:
!pip3 install xgboost

Collecting xgboost
  Downloading xgboost-2.1.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\parth\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\parth\anaconda3\lib\site-packages (from xgboost) (1.11.4)
Downloading xgboost-2.1.0-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB 435.7 kB/s eta 0:04:47
   ---------------------------------------- 0.1/124.9 MB 653.6 kB/s eta 0:03:11
   ---------------------------------------- 0.3/124.9 MB 1.8 MB/s eta 0:01:12
   ---------------------------------------- 0.6/124.9 MB 3.2 MB/s eta 0:00:39
   ---------------------------------------- 1.3/124.9 MB 5.4 MB/s eta 0:00:23
    --------------------------------------- 2.3/124.9 MB 8.3 MB/s eta 0:00:15
   - -------------------------------------- 3.3/124.9 MB 10.1 MB/s eta 0:00:13
   - -------------------------------------- 4.6/124.9 MB 12.3 MB/s eta 0:00:10
   - -------------------------------------- 5.7/124.9 MB 13.4 MB/s eta 0:00:09
   -- ------------------------------------- 6.7/124.9 MB 14.3 MB/s eta 0:00:09
   -- ------------------------------------- 7.8/124.9 MB 15.1 MB/s eta 0:00:08
   -- ------------------------------------- 9.1/124.9 MB 16.7 MB/s eta 0:00:07
   --- ------------------------------------ 10.1/124.9 MB 17.0 MB/s eta 0:00:07
   --- ------------------------------------ 10.9/124.9 MB 22.6 MB/s eta 0:00:06
   --- ------------------------------------ 11.7/124.9 MB 26.2 MB/s eta 0:00:05
   ---- ----------------------------------- 12.6/124.9 MB 23.4 MB/s eta 0:00:05
   ---- ----------------------------------- 13.4/124.9 MB 22.6 MB/s eta 0:00:05
   ---- ----------------------------------- 14.3/124.9 MB 22.6 MB/s eta 0:00:05
   ---- ----------------------------------- 15.2/124.9 MB 21.8 MB/s eta 0:00:06
   ----- ---------------------------------- 16.0/124.9 MB 21.9 MB/s eta 0:00:05
   ----- ---------------------------------- 16.9/124.9 MB 21.1 MB/s eta 0:00:06
   ----- ---------------------------------- 17.7/124.9 MB 20.5 MB/s eta 0:00:06
   ----- ---------------------------------- 18.7/124.9 MB 19.8 MB/s eta 0:00:06
   ------ --------------------------------- 19.5/124.9 MB 19.8 MB/s eta 0:00:06
   ------ --------------------------------- 20.3/124.9 MB 19.3 MB/s eta 0:00:06
   ------ --------------------------------- 21.2/124.9 MB 19.2 MB/s eta 0:00:06
   ------- -------------------------------- 22.2/124.9 MB 19.8 MB/s eta 0:00:06
   ------- -------------------------------- 22.2/124.9 MB 19.8 MB/s eta 0:00:06
   ------- -------------------------------- 24.0/124.9 MB 19.3 MB/s eta 0:00:06
   ------- -------------------------------- 24.8/124.9 MB 19.3 MB/s eta 0:00:06
   -------- ------------------------------- 25.8/124.9 MB 19.3 MB/s eta 0:00:06
   -------- ------------------------------- 26.6/124.9 MB 19.3 MB/s eta 0:00:06
   -------- ------------------------------- 27.4/124.9 MB 19.9 MB/s eta 0:00:05
   --------- ------------------------------ 28.3/124.9 MB 19.8 MB/s eta 0:00:05
   --------- ------------------------------ 29.3/124.9 MB 19.8 MB/s eta 0:00:05
   --------- ------------------------------ 30.2/124.9 MB 19.8 MB/s eta 0:00:05
   --------- ------------------------------ 31.0/124.9 MB 19.8 MB/s eta 0:00:05
   ---------- ----------------------------- 32.0/124.9 MB 19.8 MB/s eta 0:00:05
   ---------- ----------------------------- 32.8/124.9 MB 21.1 MB/s eta 0:00:05
   ---------- ----------------------------- 33.7/124.9 MB 19.9 MB/s eta 0:00:05
   ----------- ---------------------------- 34.7/124.9 MB 19.9 MB/s eta 0:00:05
   ----------- ---------------------------- 35.6/124.9 MB 19.2 MB/s eta 0:00:05
   ----------- ---------------------------- 36.6/124.9 MB 19.2 MB/s eta 0:00:05
   ------------ --------------------------- 37.5/124.9 MB 19.3 MB/s eta 0:00:05
   ------------ --------------------------- 38.5/124.9 MB 19.3 MB/s eta 0:00:05
   ------------ --------------------------- 39.4/124.9 MB 19.3 MB/s eta 0:00:05
   ------------ --------------------------- 40.4/124.9 MB 19.3 MB/s eta 0:00:05
   ------------- -------------------------- 41.2/124.9 MB 19.3 MB/s eta 0:00:05
   ------------- -------------------------- 41.8/124.9 MB 19.3 MB/s eta 0:00:05
   ------------- -------------------------- 43.1/124.9 MB 19.2 MB/s eta 0:00:05
   -------------- ------------------------- 43.9/124.9 MB 19.2 MB/s eta 0:00:05
   -------------- ------------------------- 44.6/124.9 MB 19.3 MB/s eta 0:00:05
   -------------- ------------------------- 45.5/124.9 MB 19.2 MB/s eta 0:00:05
   -------------- ------------------------- 46.2/124.9 MB 19.8 MB/s eta 0:00:04
   --------------- ------------------------ 47.2/124.9 MB 19.3 MB/s eta 0:00:05
   --------------- ------------------------ 48.0/124.9 MB 19.2 MB/s eta 0:00:05
   --------------- ------------------------ 48.9/124.9 MB 19.3 MB/s eta 0:00:04
   --------------- ------------------------ 49.7/124.9 MB 18.7 MB/s eta 0:00:05
   ---------------- ----------------------- 50.5/124.9 MB 19.3 MB/s eta 0:00:04
   ---------------- ----------------------- 51.5/124.9 MB 19.3 MB/s eta 0:00:04
   ---------------- ----------------------- 52.4/124.9 MB 20.5 MB/s eta 0:00:04
   ----------------- ---------------------- 53.4/124.9 MB 19.3 MB/s eta 0:00:04
   ----------------- ---------------------- 54.1/124.9 MB 19.3 MB/s eta 0:00:04
   ----------------- ---------------------- 54.9/124.9 MB 19.8 MB/s eta 0:00:04
   ----------------- ---------------------- 55.7/124.9 MB 19.3 MB/s eta 0:00:04
   ------------------ --------------------- 56.7/124.9 MB 19.3 MB/s eta 0:00:04
   ------------------ --------------------- 57.6/124.9 MB 19.8 MB/s eta 0:00:04
   ------------------ --------------------- 58.5/124.9 MB 19.3 MB/s eta 0:00:04
   ------------------- -------------------- 59.5/124.9 MB 19.3 MB/s eta 0:00:04
   ------------------- -------------------- 60.2/124.9 MB 19.3 MB/s eta 0:00:04
   ------------------- -------------------- 61.0/124.9 MB 19.3 MB/s eta 0:00:04
   ------------------- -------------------- 61.9/124.9 MB 19.3 MB/s eta 0:00:04
   -------------------- ------------------- 62.8/124.9 MB 19.9 MB/s eta 0:00:04
   -------------------- ------------------- 63.6/124.9 MB 19.3 MB/s eta 0:00:04
   -------------------- ------------------- 64.5/124.9 MB 19.3 MB/s eta 0:00:04
   -------------------- ------------------- 65.2/124.9 MB 19.9 MB/s eta 0:00:04
   --------------------- ------------------ 66.2/124.9 MB 19.9 MB/s eta 0:00:03
   --------------------- ------------------ 67.1/124.9 MB 19.8 MB/s eta 0:00:03
   --------------------- ------------------ 67.9/124.9 MB 19.8 MB/s eta 0:00:03
   ---------------------- ----------------- 68.9/124.9 MB 19.8 MB/s eta 0:00:03
   ---------------------- ----------------- 69.7/124.9 MB 19.8 MB/s eta 0:00:03
   ---------------------- ----------------- 70.5/124.9 MB 19.8 MB/s eta 0:00:03
   ---------------------- ----------------- 71.4/124.9 MB 19.8 MB/s eta 0:00:03
   ----------------------- ---------------- 72.4/124.9 MB 19.8 MB/s eta 0:00:03
   ----------------------- ---------------- 73.3/124.9 MB 19.9 MB/s eta 0:00:03
   ----------------------- ---------------- 74.1/124.9 MB 19.9 MB/s eta 0:00:03
   ------------------------ --------------- 74.9/124.9 MB 19.3 MB/s eta 0:00:03
   ------------------------ --------------- 75.9/124.9 MB 19.9 MB/s eta 0:00:03
   ------------------------ --------------- 76.9/124.9 MB 19.8 MB/s eta 0:00:03
   ------------------------ --------------- 77.8/124.9 MB 19.8 MB/s eta 0:00:03
   ------------------------- -------------- 78.8/124.9 MB 19.3 MB/s eta 0:00:03
   ------------------------- -------------- 79.6/124.9 MB 19.8 MB/s eta 0:00:03
   ------------------------- -------------- 80.4/124.9 MB 19.2 MB/s eta 0:00:03
   -------------------------- ------------- 81.2/124.9 MB 19.8 MB/s eta 0:00:03
   -------------------------- ------------- 82.0/124.9 MB 19.8 MB/s eta 0:00:03
   -------------------------- ------------- 83.0/124.9 MB 19.3 MB/s eta 0:00:03
   -------------------------- ------------- 84.0/124.9 MB 19.3 MB/s eta 0:00:03
   --------------------------- ------------ 84.7/124.9 MB 19.9 MB/s eta 0:00:03
   --------------------------- ------------ 85.9/124.9 MB 19.3 MB/s eta 0:00:03
   --------------------------- ------------ 86.7/124.9 MB 19.2 MB/s eta 0:00:02
   ---------------------------- ----------- 87.6/124.9 MB 19.2 MB/s eta 0:00:02
   ---------------------------- ----------- 88.4/124.9 MB 19.8 MB/s eta 0:00:02
   ---------------------------- ----------- 89.4/124.9 MB 19.3 MB/s eta 0:00:02
   ---------------------------- ----------- 90.2/124.9 MB 19.8 MB/s eta 0:00:02
   ----------------------------- ---------- 90.9/124.9 MB 19.8 MB/s eta 0:00:02
   ----------------------------- ---------- 91.8/124.9 MB 19.3 MB/s eta 0:00:02
   ----------------------------- ---------- 92.6/124.9 MB 19.8 MB/s eta 0:00:02
   ----------------------------- ---------- 93.4/124.9 MB 19.3 MB/s eta 0:00:02
   ------------------------------ --------- 94.3/124.9 MB 19.3 MB/s eta 0:00:02
   ------------------------------ --------- 95.3/124.9 MB 19.9 MB/s eta 0:00:02
   ------------------------------ --------- 96.3/124.9 MB 19.8 MB/s eta 0:00:02
   ------------------------------- -------- 97.2/124.9 MB 19.2 MB/s eta 0:00:02
   ------------------------------- -------- 98.1/124.9 MB 19.3 MB/s eta 0:00:02
   ------------------------------- -------- 98.9/124.9 MB 19.2 MB/s eta 0:00:02
   ------------------------------- -------- 99.8/124.9 MB 19.2 MB/s eta 0:00:02
   ------------------------------- ------- 100.8/124.9 MB 19.3 MB/s eta 0:00:02
   ------------------------------- ------- 101.7/124.9 MB 19.3 MB/s eta 0:00:02
   -------------------------------- ------ 102.6/124.9 MB 19.3 MB/s eta 0:00:02
   -------------------------------- ------ 103.6/124.9 MB 19.8 MB/s eta 0:00:02
   -------------------------------- ------ 104.5/124.9 MB 19.8 MB/s eta 0:00:02
   -------------------------------- ------ 105.3/124.9 MB 19.3 MB/s eta 0:00:02
   --------------------------------- ----- 106.3/124.9 MB 19.2 MB/s eta 0:00:01
   --------------------------------- ----- 107.2/124.9 MB 19.8 MB/s eta 0:00:01
   --------------------------------- ----- 108.2/124.9 MB 19.9 MB/s eta 0:00:01
   ---------------------------------- ---- 109.0/124.9 MB 19.9 MB/s eta 0:00:01
   ---------------------------------- ---- 109.9/124.9 MB 19.3 MB/s eta 0:00:01
   ---------------------------------- ---- 110.9/124.9 MB 19.2 MB/s eta 0:00:01
   ---------------------------------- ---- 111.7/124.9 MB 19.3 MB/s eta 0:00:01
   ----------------------------------- --- 112.5/124.9 MB 19.9 MB/s eta 0:00:01
   ----------------------------------- --- 113.5/124.9 MB 19.2 MB/s eta 0:00:01
   ----------------------------------- --- 114.5/124.9 MB 19.2 MB/s eta 0:00:01
   ------------------------------------ -- 115.3/124.9 MB 19.3 MB/s eta 0:00:01
   ------------------------------------ -- 116.2/124.9 MB 19.3 MB/s eta 0:00:01
   ------------------------------------ -- 117.0/124.9 MB 19.8 MB/s eta 0:00:01
   ------------------------------------ -- 117.8/124.9 MB 19.9 MB/s eta 0:00:01
   ------------------------------------- - 118.5/124.9 MB 19.3 MB/s eta 0:00:01
   ------------------------------------- - 119.6/124.9 MB 19.3 MB/s eta 0:00:01
   ------------------------------------- - 120.5/124.9 MB 19.3 MB/s eta 0:00:01
   ------------------------------------- - 121.5/124.9 MB 19.8 MB/s eta 0:00:01
   --------------------------------------  122.4/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------  123.2/124.9 MB 19.2 MB/s eta 0:00:01
   --------------------------------------  124.2/124.9 MB 19.2 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------  124.9/124.9 MB 19.3 MB/s eta 0:00:01
   --------------------------------------- 124.9/124.9 MB 13.1 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.1.0

In [113]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [109]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop = 'first'),['batting_team', 'bowling_team', 'venue'])
    ]
    ,remainder = 'passthrough'
    )

In [117]:
pipe = Pipeline(steps = [
    ('step1', trf),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimator = 1000,learning_rate = 0.2, max_depth = 12, random_state = 1)),
])

In [119]:
pipe.fit(x_train, y_train)

C:\Users\parth\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [01:33:35] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimator" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\parth\AppData\Roaming\Python\Python311\site-packages\sklearn\compose\_column_transformer.py:1624: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'venue'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, device=Non...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimator=1000, n_estimators=None, n_jobs=None,
                              num_parallel_tree=None, ...))])

In [121]:
x_train.shape

(26168, 8)

In [127]:
y_pred = pipe.predict(x_test)
print("First 5 Predictions", y_pred[:5])
print("R2_score", r2_score(y_test,y_pred))
print("Mean absolute error", mean_absolute_error(y_test,y_pred))

First 5 Predictions [115.05449 219.91063 141.98984 172.05293 201.19713]
R2_score 0.9881283044815063
Mean absolute error 1.8041763562192688